/* * Root */

/* * Generics */

ul{
    list-style-type: none;
    padding-left: 0;
}

/* * Utilities */

/* * Carousel */

#carousel{
    margin: 100px auto;
    width: 800px;
    position: relative;
}

#carousel img{
    object-fit: cover;
    width: 100%;
}

/* Gallery section */

.gallery img{
    height: 450px;
    display: none;
}

.gallery img.active{
    display: block;
}

.gallery .fa-solid{
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#prev-arrow{
    right: 105%;
}

#next-arrow{
    left: 105%;
}

/* Thumbnail section */

.thumbnail-carousel ul{
    margin: 0 -5px;
}

.thumbnail-carousel li{
    width: calc(100% / 5);
    height: 100px;
    padding: 5px;
}

.thumbnail-carousel img{
    height: 100%;
    filter: grayscale(1);
}

.thumbnail-carousel img.active, .thumbnail-carousel img:hover{
    filter: none;
    cursor: pointer;
}